/* Color Palette */

$background-color: #e6e9ed;
$background-gradient: radial-gradient(at top left, rgba(#b0c7f4, .5), #e6e9ed);

$white: #fff;
$gray-light: #f2f5f9;
$black: #101010;

$primary: #233f83;
$secondary: #1bccb6;
$third: #f45f2a;
$error: #cf503a;
$gray: #7f7f7f;

/* Font Sizes */

$standar: 16px;
$title: 18px;
$small: 14px;